.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 150px 10px 150px;
}

ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul>li,
a {
    margin-right: 43px;
    font-size: 12px;
    color: rgb(127, 127, 127);
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: inherit;
    padding-bottom: 6px;
    border-bottom-style: solid;
}

.logo>img {
    width: 90px;
    height: 60px;
}

button {
    background-color: blue;
    width: 80px;
    height: 25px;
    color: white;
    border-color: blue;
    cursor: pointer;
    border-radius: 5px;
}

.image-intro {
    background-image: url("./bgimg.jpg");
    height: 380px;
    width: 100%;
}

.image-intro>h1 {
    display: flex;
    color: white;
    justify-content: center;
    /* Horizontal */
    align-items: center;
    /* Vertical */
    padding-top: 132px;
    text-transform: uppercase;
}

section {
    display: flex;
    flex-direction: column;
}

.section_one {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    column-gap: 20%;
    align-items: flex-start;
}

.intro {
    position: relative;
    float: left;
    margin-left: 70px;
}

.img_intro {
    position: relative;
    float: right;
    margin-right: 50px;
}

.img_intro>img {
    width: 500px;
    height: 200px;
}

.cards {
    display: flex;
    column-gap: 50px;
    flex-direction: row;
    flex-grow: 2;
    /* make items grow on resize */
    align-items: stretch;
}

.section_two {
    display: flex;
    justify-content: center;
    align-items: center;
    /* make our flex items move as columns */
    flex-direction: column;
    box-shadow: 0 0 30px 5px #f7f7f7;
    padding: 15px;
    margin: 80px;
}

#card_para {
    background-color: blue;
    margin: 2px;
}